.platform-win .sidebar-2K8pFh:not(hover),
.containerDefault-1ZnADq {
    width: 50px;
    transition: all 0.7s ease-in-out;
}

.platform-win .sidebar-2K8pFh:hover,
.containerDefault-1ZnADq,
.platform-win .sidebar-2K8pFh:hover .mainContent-2gfK59 {
    opacity: 1;
    width: 240px;
}

.platform-win .sidebar-2K8pFh:not(hover) .mainContent-2gfK59 {
    width: 0px;
    opacity: 0;
    transition: all 0.7s;
}

.platform-win .sidebar-2K8pFh:hover .actions-aUdUfC {
    opacity: 1;
    transition: opacity 0.8s;
}

.platform-win .sidebar-2K8pFh:not(hover) .actions-aUdUfC {
    opacity: 0;
    transition: opacity 0.8s;
}

.platform-win .sidebar-2K8pFh:not(hover) .bannerImage-1jOskm {
    opacity: 1;
    filter: blur(2px);
    width: 50px;
    transition: filter 0.7s, width 0.7s ease-in-out;
}

.platform-win .sidebar-2K8pFh:hover .bannerImage-1jOskm {
    filter: blur(0px);
    width: 240px;
    opacity: 1;
}

.platform-win .sidebar-2K8pFh:not(hover) .privateChannels-1nO12o {
    margin-left: -8px;
}

.platform-win .sidebar-2K8pFh:not(hover) .privateChannels-1nO12o .headerText-2F0828 {
    opacity: 0;
    transition: opacity 0.8s;
}

.platform-win .sidebar-2K8pFh:not(hover) .selected-aXhQR6.container-2Pjhx- {
    margin-left: 15px;
}

.platform-win .sidebar-2K8pFh:not(hover) .selected-aXhQR6.container-2Pjhx- svg {
    margin-left: -14px;
}

.platform-win .sidebar-2K8pFh:hover .privateChannels-1nO12o .headerText-2F0828 {
    opacity: 1;
}

.platform-win .sidebar-2K8pFh:not(hover) .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    margin-left: 8px;
    text-align: center;
}

.platform-win .sidebar-2K8pFh:not(hover) .discoverHeader-1TWTqG {
    opacity: 0;
    transition: opacity 0.8s;
}

.platform-win .sidebar-2K8pFh:hover .discoverHeader-1TWTqG {
    opacity: 1;
}

.platform-win .sidebar-2K8pFh:not(hover) .categoryItem-3zFJns svg {
    margin-left: -10px;
}

.platform-win .sidebar-2K8pFh:not(hover) .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
    margin-left: -5px;
}

.platform-win .sidebar-2K8pFh:not(hover) .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG svg {
    margin-right: 0px;
}

.platform-win .sidebar-2K8pFh:not(hover) .selected-aXhQR6 .layout-2DM8Md svg {
    left: 7px;
}

.hiddenMembers-2dcs_q:not(hover) {
    width: 0px;
    left: 60px;
    min-width: 0px;
    margin-left: 60px;
    transition: all 0.7s ease-in-out;
}

.hiddenMembers-2dcs_q:hover {
    width: 240px;
    left: 0;
    margin-left: 0;
    min-width: 240px;
}

.hiddenMembers-2dcs_q:hover .membersGroup-v9BXpm span{
    opacity: 1;
}

.hiddenMembers-2dcs_q:not(hover) .membersGroup-v9BXpm span {
    opacity: 0;
    transition: opacity 0.7s;
}

.form-2fGMdU {
    width: auto;
}

.scroller-2LSbBU {
    width: auto;
}

.platform-win .sidebar-2K8pFh:not(hover) .height12-2Ltw-k {
    opacity: 0;
    transition: opacity 0.8s;
}

.platform-win .sidebar-2K8pFh:hover .height12-2Ltw-k {
    opacity: 1;
    transition: opacity 0.8s;
}


/* SETTINGS WIDTH */
.contentColumn-2hrIYH {
    max-width: 1700px!important;
}

.contentColumnDefault-1VQkGM {
    padding: 60px 20px 180px!important;
}

.contentRegion-3nDuYy {
    flex: 1 1 1900px;
}

.canceled-nz3kfr.banner-3Kac2g,
.hero-EvfTTA,
.sidebarScrollable-1qPI87+.content-1rPSz4,
.customScroller-26gWhv>div,
.customColumn-Rb6toI {
    max-width: 1700px!important;
}

.notificationSettings-1NQKPR {
    max-width: 1000px;
    margin: auto;
}

/* INDICATOR */
/*
.platform-win .sidebar-2K8pFh:not(hover):before {
    content: "";
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='48px' height='48px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none' opacity='.87'/%3E%3Cpath d='M6.29 8.11L10.18 12l-3.89 3.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L7.7 6.7c-.39-.39-1.02-.39-1.41 0-.38.39-.38 1.03 0 1.41zM17 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1z'/%3E%3C/svg%3E");;
   mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='48px' height='48px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none' opacity='.87'/%3E%3Cpath d='M6.29 8.11L10.18 12l-3.89 3.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L7.7 6.7c-.39-.39-1.02-.39-1.41 0-.38.39-.38 1.03 0 1.41zM17 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1z'/%3E%3C/svg%3E");
   background: var(--text-normal);
   width: 46px;
   height: 46px;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   left: 0px;
    z-index: 12!important;
    opacity: 1;
    transition: all .7s ease-in-out;
}

.platform-win .sidebar-2K8pFh:hover:before {
   content: "";
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='48px' height='48px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none' opacity='.87'/%3E%3Cpath d='M6.29 8.11L10.18 12l-3.89 3.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L7.7 6.7c-.39-.39-1.02-.39-1.41 0-.38.39-.38 1.03 0 1.41zM17 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1z'/%3E%3C/svg%3E");;
   mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='black' width='48px' height='48px'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none' opacity='.87'/%3E%3Cpath d='M6.29 8.11L10.18 12l-3.89 3.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L7.7 6.7c-.39-.39-1.02-.39-1.41 0-.38.39-.38 1.03 0 1.41zM17 6c.55 0 1 .45 1 1v10c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1z'/%3E%3C/svg%3E");
   background: var(--text-normal);
   width: 46px;
   height: 0px;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   left: 80%;
    z-index: 12!important;
    transition: left .6s cubic-bezier(0.33, 1, 0.23, 1), height .7s ease-in-out;
    transition-delay: .2s;
}
*/
/* INDICATOR END */
